.footer {
	position: absolute;
	width: 100%;	
	text-align:center;
	height: 60px;
	background-color: #f5f5f5;
}


.navbar-header img {   
 	height: 30px;
}

picture img {  
	width: 100%;
}
